// app global css in SCSS form

// show border on all divs for design help
// div {
//   border: 1px solid red;
// }

.bg-dark-navy {
  background-color: #081329 !important;
}

.input-field {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 5px 0;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  width: 100%;
  box-sizing: border-box;
}

.input-field:focus {
  border-color: #3f51b5;
  box-shadow: 0 0 5px rgba(63, 81, 181, 0.5);
}